/* Esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 2s ease-in;
}

.ex-1-square:hover {
    background-color: red;
}


/* esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s ease;
}

.ex-2-square:active {
    width: 100%;
}

/* esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 0.5s ease-in;
}

.ex-3-square:hover {
    border-radius: 50%;
    
}

/* esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 1s ease-out;
}

.ex-4-square:hover {
    opacity: 0;
}

/* esercizio 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 1s ease;
}

.ex-5-square:hover {
    margin: 0px;
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    margin: 20px;
    width: 60px;
    height: 60px;
}

/* esercizio 6 */